* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E1DFE1;
}

/* --------------------------DEBUT DE NAV-------------------------- */

/* nav bar
    background-image: url(images/background-nav.png);
    background-size: 150%;
    voir si on ajoute une image en bg*/

nav {
  color: white;
  width: 100%;
  background-color: black;
  font-family: "Jura";
  text-align: center;
}

h1 {
  font-size: 1em;
}

#image-logo {
  width: 5rem;
  padding-top: 1em;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.nav-bar-li {
  margin: 0.5em;
}

li a {
  text-decoration: none;
  color: inherit;
}

.sticky {
  position: fixed;
  z-index: 1000;
  background-color: black;
  top: 0;
  width: 100%
}

.navBarFixed {
  display: flex;
}

/* --------------------------FIN NAV BAR-------------------------- */



/*CAROUSSEL*/
.photo {
  width: 800px;
  height: 400px;
  background-position: center;
  margin: 0;
  display: inline-block;
}

/*--------------------------CARDS--------------------------*/
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 1rem;
  border-radius: 1.5rem;
  height: 100%;
  font-family: jura;
  background-color: #988469;
  border: 0.15rem solid black;
  box-shadow: 0.15rem 0.15 rem black;
  padding: 1rem 0.5rem;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.name-cardelement {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  font-size: 1.3em;
  text-align: center;
}

.dropdown-menu-content {
  display: none;
}

.visible {
  display: block;
}

.cardelement-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.cardelement-description {
  font-family: Kaisei HarunoUmi;
}

.cardelement-quote {
  margin-top: 0.4em;
  font-size: 1.2em;
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.dropdown-button {
  font-family: Kaisei HarunoUmi;
  color: #999185;
  border-style: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #E1DFE1;
}

.dropdown-button:hover {
  background-color: black;
  color: #ccc;
  transform: rotate(360deg) scale(1.1);
  transition: all 0.3s ease;
}

h2 {
  font-family: jura;
  font-size: 2em;
  text-shadow: gray 2px 1px;
  text-align: center;
  font-size: 3em;
}

/**--------------------------FIN CARDS--------------------------**/



/** CAROUSEL**/

.bouton {
  position: absolute;
  width: 70px;
  cursor: pointer;
  top: 250px;
}

#g {
  left: 0;
  opacity: 0.4;
  transition: all 0.3s ease;
}

#d {
  right: 0;
  opacity: 0.4;
  transition: all 0.3s ease;
}

#g:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.3s ease;
}

#d:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.3s ease;
}

/** FIN CAROUSEL **/

/**MOSAIQUE de PHOTOS en GRID**/
.titreMosaique {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.mosaique {
  display: grid;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  margin-bottom: 1em;

}

.img1 {
  grid-area: 1 / 1 / 2 / 2;
}

.img2 {
  grid-area: 2 / 1 / 4 / 3;
}

.img3 {
  grid-area: 1 / 3 / 3 / 4;
}

.img4 {
  grid-area: 1 / 2 / 2 / 3;
}

.img5 {
  grid-area: 3 / 3 / 4 / 4;
}

.mosaique img {
  width: 100%;
  height: 100%;
}

/** bouton commentaire **/
.btn {
  font-family: "Jura", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  font-weight: bolder;
  color: #fff;
  background-color: #999150;
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 4px 1px 22px 1px;
  border-radius: 50px;
}

.btn-cmnt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

/** FIN bouton commentaire **/


/** DEBUT du Footer **/

.logofooter {
  width: 2em;
  margin-left: 0.3em;
}

.lunefooter {
  margin-top: 1.4em;
  width: 6em;
  height: 6em;
}

footer {
  background-color: rgb(174, 165, 165);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10em;
  color: rgb(231, 222, 222);
  font-family: jura;
}

.contact {
  font-size: 10px;
  margin-top: 3em;
}

.contact p {
  margin-bottom: 0.5em;
}

.developpeurs {
  margin-top: 1.5em;
  font-size: 10px;
  margin-right: 2em;
  flex-direction: column;
}

.developpeurs h3 {
  text-align: center;
  margin-top: 1em;
}

#idev {
  flex-direction: column;
  text-align: left;
}

/** FIN du Footer **/

/* POP UP AVIS */
.popupBackground {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.formulaire {
  position: fixed;
  top: 20%;
  left: -2%;
  /*modifié dans le media queries*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 1rem;
  border-radius: 1.5rem;
  height: 50%;
  font-family: jura;
  background-color: #988469;
  border: 0.15rem solid black;
  box-shadow: 0.15rem 0.15 rem black;
  padding: 1rem 0.5rem;
}

.active {
  display: flex;
  top: 0%;
  left: 0%;
  height: 200%;
  background-color: rgba(83, 82, 82, 0.9);
}



/* DEBUT RESPONSIVE */

@media screen and (min-width: 992px) {



  /* -----------------FORMULAIRE RESPONSIVE ---------------*/
  .formulaire {
    left: 30%;
  }

  /* --------------------------nav bar responsive-------------------------- */
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 1.5em;
  }

  #image-logo {
    padding: 1em;
    width: 12%;
  }

  /* --------------------------fin nav bar-------------------------- */

  /* --------------------------cards-------------------------- */
  .restaurant-cards {
    display: flex;
    justify-content: center;
  }

  .hotel-cards {
    display: flex;
    justify-content: center;
  }

  .activity-cards {
    display: flex;
    justify-content: center;
  }

  .card-container:hover {
    box-shadow: 0.4em 0.4em black;
    transition: box-shadow .3s;
  }

  */ --------------------------fin cards-------------------------- */
}